<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 100)

In [0]:
# Lets take a look at the Ames Iowa Housing Dataset:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

In [0]:
print (df.shape)
df.head()
df.dtypes

In [0]:
df['BedroomAbvGr']

In [0]:
df['LotFrontage']

In [0]:
df['LotFrontage'].value_counts()

In [0]:
df['MSZoning'].value_counts()

In [0]:
df['LotFrontage'].value_counts(dropna=False)

In [0]:
import numpy as np

# What is the datatype of NaN? - float

type(np.NaN)

In [0]:

df_small = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()

df_small.head(10)

In [0]:
df_small.dtypes

In [0]:
df_small['TotalSquareFootage'] = df_small['TotalBsmtSF'] + df_small['1stFlrSF'] + df_small['2ndFlrSF']

df_small.head()

In [0]:
df_small['PricePerSqFt'] = df_small['SalePrice'] / df_small['TotalSquareFootage']

df_small.head(10)

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

In [0]:
!unzip LoanStats_2018Q4.csv

In [0]:
!head LoanStats_2018Q4.csv

In [0]:
!tail LoanStats_2018Q4.csv

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv')

# print (df.shape)
df.head()

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine="python" )

print(df.shape)
df.head()

In [0]:
df = df.drop(['url', 'member_id', 'id', 'desc'], axis=1)

In [0]:
df.head()

In [0]:
df['int_rate'].head(10)

In [0]:

df['int_rate'][56]

In [0]:

single = ' 11.31%'

In [0]:
single.strip('%')

In [0]:
single.strip(' ')

In [0]:
single.strip('%').strip(' ')

In [0]:
type(single.strip('%').strip(' '))

In [0]:
float(single.strip('%').strip(' '))

In [0]:
def convert_int_float(int_rate):
  return float(int_rate.strip('%').strip())

In [0]:
convert_int_float(' 32.34%')

In [0]:
type(convert_int_float(' 32.34%'))

In [0]:
df['int_rate'] = df['int_rate'].apply(convert_int_float)

df.head()

In [0]:
df.dtypes

In [0]:
df['emp_title'].value_counts().head(20)

In [0]:
df['emp_title'].nunique()

In [0]:
print (df['emp_title'].value_counts(dropna=False).head())
# ---------- OR ------------
print (' ')
df['emp_title'].isnull().value_counts()

In [0]:

examples = ['driver', 'COOK', 'Mob Boss', np.NaN]

In [0]:
def clean_titles(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
      return "Unknown"

for example in examples:
  print (clean_titles(example))

In [0]:
[clean_titles(title) for title in examples]

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_titles)

In [0]:
df['emp_title'].value_counts(dropna=False).head(20)

In [0]:
df['emp_title'].nunique()

In [0]:
df['emp_title'].isnull().sum()

In [0]:
[col for col in df if col.endswith('_d')]

In [0]:
df['issue_d'].head()

In [0]:
df['issue_d'].value_counts()

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [0]:
df['issue_d'][0]

In [0]:
df['issue_d'].head()

In [0]:
df['issue_d'].dt.year

In [0]:
df['issue_d'].dt.month

In [0]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [0]:
df['earliest_cr_line'].head()

In [0]:
df['years_from_earliest_credit_to_issue'] = ((df['issue_d'] - df['earliest_cr_line']).dt.days / 365)

In [0]:
df.head()

In [0]:
df['years_from_earliest_credit_to_issue'].describe()

In [0]:
df['term'].head()

In [0]:
df['term'][1]

In [0]:
term = ' 36 months'

In [0]:
def term_to_int(term_string):
  if isinstance(term_string, str):
    return int(term_string.strip().strip('months'))
  else: 
    return np.NaN

term_to_int(term)

In [0]:
df['term_int'] = df['term'].apply(term_to_int)

df.head()

In [0]:
df['new_term'] = df['term'].apply(term_to_int)

df['new_term'].head()

In [0]:
df['term'] = df['new_term']

In [0]:
df.head()

In [0]:
df = df.drop(['new_term','term_int'], axis=1)

In [0]:
df['loan_status'].head(20)

In [0]:
df['loan_status'].value_counts()

In [0]:
def is_the_status_great(status_string):
  if status_string == 'Current' or status_string == 'Fully Paid':
    df['loan_status'] = 1
  else:
    df['loan_status'] = 0

In [0]:
loan_statuses = ['Current', 'Late (31-120 days)', 'Default', "Fully Paid (16-30 days)", "In Grace Period"]

loan_status_int = []

def is_the_status_great(status_string):
  if status_string == 'Current' or status_string == 'Fully Paid' :
    return 1
  else:
    return 0

for status in loan_statuses:
  loan_status_int.append(is_the_status_great(status))

example_df = pd.DataFrame()
example_df['loan_status'] = pd.Series(loan_status_int)

example_df.head()

In [0]:
df['new_loan_status'] = df['loan_status'].apply(is_the_status_great)

In [0]:
df.head(20)

In [0]:
df['loan_status'] = df['new_loan_status']

In [0]:
df = df.drop(['new_loan_status'], axis=1)

In [0]:
df.head()

In [0]:
df['last_pymnt_d']

In [0]:
df['last_pymnt_d_month'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df.head()

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d_month'].dt.month

In [0]:
df['last_pymnt_d_year'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d_year'] = df['last_pymnt_d_year'].dt.year
df.head()

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01